[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tochka/oh-my-zsh"]
	path = tochka/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
